<a href='/restaurants'>Home</a>

<h3>Restaurant: <%= @restaurant.name %></h3>
<h5>Location: <%= @restaurant.location %><h5>
<h5>Cuisine: <%= @restaurant.cuisine %><h5>
<h5>Cuisine: <%= @restaurant.rating %><h5>